
.grid {
  margin-left: auto;
  margin-right: auto;
  max-width: 1120px;
  padding-left: 20px;
  padding-right: 20px;
  position: relative;
}

@media all and (min-width: 700px) {
  .grid {
    padding-left: 40px;
    padding-right: 40px;
  }
}

/*@media (min-width: 800px) {
  .grid {
    max-width: 100%;
    }
  }

@media (min-width: 801px) {
  .grid {
    max-width: 1120px;
    }
  }*/

.grid:before, .grid:after {
  content: " ";
  display: table;
}

.grid:after {
  clear: both;
}

.grid .col {
  float: left;
  max-width: 100%;
  padding-left: 0;
  padding-right: 0;
  background-clip:
  content-box;
}

.grid .sm-1 { width: 8.33333%; }
.grid .sm-push-1 { margin-left: 8.33333%; }
.grid .sm-pull-1 { margin-right: 8.33333%; }
.grid .sm-2 { width: 16.66667%; }
.grid .sm-push-2 { margin-left: 16.66667%; }
.grid .sm-pull-2 { margin-right: 16.66667%; }
.grid .sm-3 { width: 25%; }
.grid .sm-push-3 { margin-left: 25%; }
.grid .sm-pull-3 { margin-right: 25%; }
.grid .sm-4 { width: 33.33333%; }
.grid .sm-push-4 { margin-left: 33.33333%; }
.grid .sm-pull-4 { margin-right: 33.33333%; }
.grid .sm-5 { width: 41.66667%; }
.grid .sm-push-5 { margin-left: 41.66667%; }
.grid .sm-pull-5 { margin-right: 41.66667%; }
.grid .sm-6 { width: 50%; }
.grid .sm-push-6 { margin-left: 50%; }
.grid .sm-pull-6 { margin-right: 50%; }
.grid .sm-7 { width: 58.33333%; }
.grid .sm-push-7 { margin-left: 58.33333%; }
.grid .sm-pull-7 { margin-right: 58.33333%; }
.grid .sm-8 { width: 66.66667%; }
.grid .sm-push-8 { margin-left: 66.66667%; }
.grid .sm-pull-8 { margin-right: 66.66667%; }
.grid .sm-9 { width: 75%; }
.grid .sm-push-9 { margin-left: 75%; }
.grid .sm-pull-9 { margin-right: 75%; }
.grid .sm-10 { width: 83.33333%; }
.grid .sm-push-10 { margin-left: 83.33333%; }
.grid .sm-pull-10 { margin-right: 83.33333%; }
.grid .sm-11 { width: 91.66667%; }
.grid .sm-push-11 { margin-left: 91.66667%; }
.grid .sm-pull-11 { margin-right: 91.66667%; }
.grid .sm-12 { width: 100%; }
.grid .sm-push-12 { margin-left: 100%; }
.grid .sm-pull-12 { margin-right: 100%; }
@media (min-width: 700px) { .grid .md-1 { width: 8.33333%; }
  .grid .md-push-1 { margin-left: 8.33333%; }
  .grid .md-pull-1 { margin-right: 8.33333%; } }
@media (min-width: 700px) { .grid .md-2 { width: 16.66667%; }
  .grid .md-push-2 { margin-left: 16.66667%; }
  .grid .md-pull-2 { margin-right: 16.66667%; } }
@media (min-width: 700px) { .grid .md-3 { width: 25%; }
  .grid .md-push-3 { margin-left: 25%; }
  .grid .md-pull-3 { margin-right: 25%; } }
@media (min-width: 700px) { .grid .md-4 { width: 33.33333%; }
  .grid .md-push-4 { margin-left: 33.33333%; }
  .grid .md-pull-4 { margin-right: 33.33333%; } }
@media (min-width: 700px) { .grid .md-5 { width: 41.66667%; }
  .grid .md-push-5 { margin-left: 41.66667%; }
  .grid .md-pull-5 { margin-right: 41.66667%; } }
@media (min-width: 700px) { .grid .md-6 { width: 50%; }
  .grid .md-push-6 { margin-left: 50%; }
  .grid .md-pull-6 { margin-right: 50%; } }
@media (min-width: 700px) { .grid .md-7 { width: 58.33333%; }
  .grid .md-push-7 { margin-left: 58.33333%; }
  .grid .md-pull-7 { margin-right: 58.33333%; } }
@media (min-width: 700px) { .grid .md-8 { width: 66.66667%; }
  .grid .md-push-8 { margin-left: 66.66667%; }
  .grid .md-pull-8 { margin-right: 66.66667%; } }
@media (min-width: 700px) { .grid .md-9 { width: 75%; }
  .grid .md-push-9 { margin-left: 75%; }
  .grid .md-pull-9 { margin-right: 75%; } }
@media (min-width: 700px) { .grid .md-10 { width: 83.33333%; }
  .grid .md-push-10 { margin-left: 83.33333%; }
  .grid .md-pull-10 { margin-right: 83.33333%; } }
@media (min-width: 700px) { .grid .md-11 { width: 91.66667%; }
  .grid .md-push-11 { margin-left: 91.66667%; }
  .grid .md-pull-11 { margin-right: 91.66667%; } }
@media (min-width: 700px) { .grid .md-12 { width: 100%; }
  .grid .md-push-12 { margin-left: 100%; }
  .grid .md-pull-12 { margin-right: 100%; } }
@media (min-width: 900px) { .grid .lg-1 { width: 8.33333%; }
  .grid .lg-push-1 { margin-left: 8.33333%; }
  .grid .lg-pull-1 { margin-right: 8.33333%; } }
@media (min-width: 900px) { .grid .lg-2 { width: 16.66667%; }
  .grid .lg-push-2 { margin-left: 16.66667%; }
  .grid .lg-pull-2 { margin-right: 16.66667%; } }
@media (min-width: 900px) { .grid .lg-3 { width: 25%; }
  .grid .lg-push-3 { margin-left: 25%; }
  .grid .lg-pull-3 { margin-right: 25%; } }
@media (min-width: 900px) { .grid .lg-4 { width: 33.33333%; }
  .grid .lg-push-4 { margin-left: 33.33333%; }
  .grid .lg-pull-4 { margin-right: 33.33333%; } }
@media (min-width: 900px) { .grid .lg-5 { width: 41.66667%; }
  .grid .lg-push-5 { margin-left: 41.66667%; }
  .grid .lg-pull-5 { margin-right: 41.66667%; } }
@media (min-width: 900px) { .grid .lg-6 { width: 50%; }
  .grid .lg-push-6 { margin-left: 50%; }
  .grid .lg-pull-6 { margin-right: 50%; } }
@media (min-width: 900px) { .grid .lg-7 { width: 58.33333%; }
  .grid .lg-push-7 { margin-left: 58.33333%; }
  .grid .lg-pull-7 { margin-right: 58.33333%; } }
@media (min-width: 900px) { .grid .lg-8 { width: 66.66667%; }
  .grid .lg-push-8 { margin-left: 66.66667%; }
  .grid .lg-pull-8 { margin-right: 66.66667%; } }
@media (min-width: 900px) { .grid .lg-9 { width: 75%; }
  .grid .lg-push-9 { margin-left: 75%; }
  .grid .lg-pull-9 { margin-right: 75%; } }
@media (min-width: 900px) { .grid .lg-10 { width: 83.33333%; }
  .grid .lg-push-10 { margin-left: 83.33333%; }
  .grid .lg-pull-10 { margin-right: 83.33333%; } }
@media (min-width: 900px) { .grid .lg-11 { width: 91.66667%; }
  .grid .lg-push-11 { margin-left: 91.66667%; }
  .grid .lg-pull-11 { margin-right: 91.66667%; } }
@media (min-width: 900px) { .grid .lg-12 { width: 100%; }
  .grid .lg-push-12 { margin-left: 100%; }
  .grid .lg-pull-12 { margin-right: 100%; } }
