<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>My interests focus on applying user centred design to improve government services. I’ve had the opportunity to apply these interests into practice through delivering digital products and services within the public sector.</p>
                </div>
                <div class="col-lg-4">
                    <p>I am currently at the Ministry of Justice, digitising and reforming the prison system through service design. I work best in cross-functional teams and agile working environments.</p>
                </div>
            </div>
        </div>
    </section>
